#unlp_banner {
    width: 100%;
}

/* #nav-header {
    height: 70%;
    width: 100%;
    background: rgb(138, 7, 7);

} */


.nav-link{
    color: rgba(255,255,255,.75) !important;
    
  }

.nav-link:hover {
    color: rgba(255,255,255,.99) !important;
}

.nav-link:active {
    color: rgba(255,255,255,1) !important;
}

/* .btn {
    margin-right:.25em;
} */

 

#icono_home {
    float: left;
    height: 75.4%;
    width: 7%;
    margin-top: 0.4%;
    padding-left: 2%;
    padding-right: 2%;
}

/* .boton {
    float: left;
    padding-top: 1.2%;
    padding-left: 2%;
    padding-right: 2%;
    color: white;
} */

/* #contenedor_cerrar_sesion {
    float: right;
} */

/* #cerrar_sesion {
    position: absolute;
    top: 10.5%;
    right: 3%;
} */

#header{
    width: 100%;
    
}