#contenedor_de_icono_facultad {
    width: 100%;
}

#contenedor_de_barra_de_navegacion {
    height: 70px;
    width: 100%;
    background: red;
}

#icono_home {
    float: left;
    height: calc(75% + 9px);
    width: calc(3% + 80px);
    padding-top: 9px;
    padding-left: 40px;
    padding-right: 40px;
}

.boton {
    float: left;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
}

#contenedor_cerrar_sesion {
    float: right;
}

#cerrar_sesion {
    position: absolute;
    top: 10.5%;
    right: 3%;
}