#ingredients-container thead tr {
    background: lightgray;
}

#ingredients-container td, #ingredients-container th{
    width: 33.3333%;
}

/*#ingredients-container .input-group{*/
.input-group{
    border: 1px solid #ced4da;
    padding: 0 .75em;
    border-radius: .25rem;
}

/*#ingredients-container .input-group-append{*/
.input-group-append{
    padding: .375em .2em;
}

/*#ingredients-container .input-group .form-control{*/
.input-group .form-control{
    border: none;
}

/*#ingredients-container .input-group .form-control:focus{*/
.input-group .form-control:focus{
    box-shadow: none;
}

#new-ingredient .form-group{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.actions .btn {
    margin-right: 1rem;
}

.mr-05{
    margin-right: .5rem !important;
}

