#titulo_login {
    padding-top: 2%;
    padding-left: 5%;
}

#contenedor {
    width: 27%;
    height: auto;
    margin-left: 36.5%;
    margin-right: 36.5%;
    margin-top: 1%;
    padding-top: 3%;
    padding-left: 5% !important;
    padding-right: 5% !important;
    border-radius: 5%;
    background: rgba(196, 196, 196, 0.39);
    border: 1px solid rgba(0, 0, 0, 0.5);
}

#contenedor_de_icono {
    display: flex;
    justify-content: center;
    margin-bottom: 20%;
}

#icono {
    width: 50%;
}

#dni {
    width: 100%;
}

#contraseña_que_no_es_input {
    margin-top: 6%;
}

#contraseña {
    width: 100%;
}

#boton_inicio_de_sesion  {
    width: 100%;
    background-color: #3682d8;
    color: white;
    border-radius: 6px;
    padding: 3%;
    margin-top: 8%;
    margin-bottom: 10%;
}

#mensaje_de_error_login {
    text-align: center;
}