#titulo_habilitar_menu {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 0px;
    padding-right: 0px;
}

#contenedor_de_los_input {
    width: 25%;
}

#boton_fecha_habilitar_menu {
    margin-left: 3.8%;
    margin-right: 3.8%;
    margin-top: 2%;
    margin-bottom: 2%;
}

#cancelar_habilitar_menu {
    margin-right: 1%;
}

#guardar_habilitar_menu {
    margin-left: 1%;
}