#titulo_habilitar_menu {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 0px;
    padding-right: 0px;
}

#imagen_del_menu {
    width: 100%;
}

#contenedor_de_los_input {
    width: 25%;
}

#boton_con_una_fecha {
    margin-left: 2.2%;
    margin-right: 2.2%;
    margin-top: 1%;
    margin-bottom: 1%;
}