#titulo_cargar_menu {
    margin-top: 0;
    margin-bottom: 0;
}

#nombre_cargar_menu {
    width: 80%;
    margin-bottom: 1%;
}

#modal_cargar_componente {
    max-width: 70%;
}

.select_cargar_menu {
    float: left;
    width: 80%;
}
