#contenedor {
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 50px;
}

.titulo_de_columna {
    width: 25%;
}

#lista_de_titulos_de_columnas {
    background: lightgray;
}

.tilde_vegetariano {
    margin-left: 9.75%;
}

.tilde_celiaco {
    margin-left: 5.5%;
}